:root {
  --theme-color: #3a92de;
}

.vp-nav-links {
  padding-right: 2rem;
}

//custom styles

.portrait-image {
  width: 480px;
  height: 480px;
}

.portrait-image-note {
  font-size: 12px !important;
  font-style: italic !important;
  color: grey !important;
  text-align: left !important;
}
