body {
  font-family: "Source Sans Pro", Arial, sans-serif;
}
pre > code {
  padding: 1em 0 1em 0 !important;
  margin: 0 0 !important;
}
.app-name {
  font-weight: bold !important;
}
.app-nav {
  position: fixed !important;
  width: 100% !important;
  height: 80px !important;
  margin: 0 0 0 0 !important;
  top: 0;
  z-index: 100 !important;
  border-bottom: 1px solid rgba(0, 0, 0, .07) !important;
  transition: transform .25s ease-out !important;
  background-color: #fff !important;
  display: block !important;
}
.web .app-nav{
  padding: 10px 80px 10px 30px !important;
}
.mobile .app-nav{
  padding: 10px 80px 10px 30px !important;
}
.navicon{
  height: 60px !important;
  padding: 5px 0 !important;
  margin: 0 0 !important;
  float: left;
}
.navicon > img {
  height: 50px !important;
}
.app-nav > ul {
  height: 60px !important;
}
.app-nav > ul > li {
  padding-top: 20px !important;
}
.github-corner {
  z-index: 200 !important;
}
.content {
  margin-top: 80px !important;
  padding-top: 0 !important;
}
.sidebar {
  margin-top: 80px !important;
  padding-top: 0 !important;
}
.search input {
  border-radius: 5px;
}

/*作为文档标题的侧边栏TOC调小*/
.app-sub-sidebar > li {
  /*font-size: 12px !important;*/
  line-height: 24px !important;
  margin: 2px 0 !important;
}
.app-sub-sidebar > li > a {
  /*font-size: 12px !important;*/
  line-height: 24px !important;
}

/*复制代码按钮调小*/
.docsify-copy-code-button{
  padding: 0.4em 0.6em !important;
}

/*readme-toc*/

.readme-toc {
  line-height: 1.75 !important;
}
.readme-toc-col {
  line-height: 1.75 !important;
  padding: 0.75rem !important;
}
.readme-toc-col-title {
  line-height: 1.75 !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  font-size: 1rem !important;
  font-weight: 800 !important;
}
.readme-toc ul {
  line-height: 1.75 !important;
  list-style: none !important;
  padding: 0 0 !important;
  margin: 0 0 !important;
}

/*alert*/

.alert.callout.info {
  border-left-color: #17a2b8 !important
}
.alert.callout.info .title {
  color: #17a2b8
}
.alert.flat.info {
  color: #02587f;
  background-color: #cdeefd;
  border-color: #b4e6fc
}
.alert.flat.info .title {
  color: #01354d
}

.alert.callout.important {
  border-left-color: #17a2b8 !important
}
.alert.callout.important .title {
  color: #17a2b8
}
.alert.flat.important {
  color: #02587f;
  background-color: #cdeefd;
  border-color: #b4e6fc
}
.alert.flat.important .title {
  color: #01354d
}

/*增大tooltip的宽度*/

.tooltip{
  max-width: 40em;
}
