description = <spot>here_we_introduce</spot>
description = define:NEntrance|INTRODUCE_UNDEFINED
tip = array_define:NEntrance|WELCOMES|0
tip = array_define:NEntrance|WELCOMES_UNDEFINED|0
tip = array_define:NEntrance|WELCOMES|var
tip = array_define:NEntrance|WELCOMES|-1