description = <spot>here_we_introduce</spot>
description = define:NEntrance|INTRODUCE_UNDEFINED
tips = array_define:NEntrance|WELCOMES|0
tips = array_define:NEntrance|WELCOMES_UNDEFINED|0
tips = array_define:NEntrance|WELCOMES|var
tips = array_define:NEntrance|WELCOMES|-1