description = define:NEntrance|INTRODUCE
description = define:NEntrance|INTRODUCE_UNDEFINED
tips = <spot>{ here_we_send_greetings here_we_guide }</spot>
tips = array_define:NEntrance|WELCOMES_UNDEFINED